@using CurvaStore.Utility
@using Microsoft.AspNetCore.Identity
@using CurvaStore.Models
@inject SignInManager<CurvaUser> SignInManager
@inject UserManager<CurvaUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
     
        <li>
            <span style="position: relative; margin-right: 20px;line-height: 45px;">
                @{
                    if ((int)ViewData["numOfCart"] !=0)
                    {
                        <div class="countCart position-absolute">@ViewData["numOfCart"]</div>
                        <a asp-controller="Home" asp-action="ViewCart">
                            <i style="color:#d1ab5f; font-size: 25px;" class="fas fa-shopping-cart"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="ViewCart">
                            <i style="color: black; font-size: 25px;" class="fas fa-shopping-cart"></i>
                        </a>
                    }
                }
            </span>
        </li>
        <li>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn "><img class="rounded-circle" src="~/images/th.jpeg" alt=""></button>
                <div id="myDropdown" class="dropdown-content">
                    <a asp-controller="Home" asp-action="Profile"><i class="far fa-user"></i>Profile Info</a>
                        <a asp-controller="Home" asp-action="ViewWishList"><i class="far fa-heart"></i>Wishlist</a>
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button style="width: 100%;border-width: 0;background: transparent;font-weight: 500;display: block;" type="submit">
                                <i class="fas fa-sign-out-alt" style="color: #d1ab5f;margin-left: -50px;"></i> Logout
                            </button>
                       </form>
                </div>
            </div>
        </li>
}
else
{
    @* <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li> *@
        <form class="d-flex ">
@*             <div class="headerInput  "><input type="text" placeholder="Search" class="form-control"><i class="fas fa-search"></i></div>
 *@            <a asp-area="Identity" asp-page="/Account/Login"><button type="button" class="Login">Login</button></a>
        </form>
}
</ul>
