@model Blog
@{
    Layout = "_CurvaDashBoardLayout";
}
<div class="dash-content">
    <div class="overview">
        <div class="title">
            <span class="text" style="color: #d1ab5f;">Adding Blog</span>
        </div>
        <div>
            <form method="post" asp-action="AddBlog" class="row" enctype="multipart/form-data">
                <div class="mb-3 col-lg-6 justify-content-center">
                    <label asp-for="Tittle" class="form-label">Blog Tittle</label>
                    <input asp-for="Tittle" type="text"class="form-control"placeholder=""/>
                    <span asp-validation-for="Tittle" class="text-danger"></span>
                </div>
                <div class="mb-3 col-lg-6">
                    <label asp-for="Description" class="form-label">Blog Description</label>
                    <textarea asp-for="Description" type="text"class="form-control"placeholder=""></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                
                <div class="mb-3 col-lg-6">
                    <label asp-for="dateTime">(date and time of Blog)</label>
                    <input asp-for="dateTime" data-date-format="yyyy-MM-dd HH:mm" class="form-control" type="datetime-local" id="birthdaytime">
                    <span asp-validation-for="dateTime" class="text-danger"></span>
                </div>
                 <div class=" mb-3 col-lg-5 d-flex align-items-center mt-4">
                    <label asp-for="BlogImage" class="form-label">
                        img Blog
                        <input asp-for="BlogImage" class="form-control mt-2" type="file" accept="image/*" id="formFile">

                    </label>
                    <span asp-validation-for="BlogImage" class="text-danger"></span>
                </div>

                <div class="col-lg-12 d-flex justify-content-center  ">
                    <button type="submit" class="btn butt">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>