@{
	Layout = "_CurvaStoreLayout";
}
<div class="cover_header_page">
    <div class="overlay-cover-page d-flex align-items-end">
        <div class="container de">
            <div class="row ">
                <div class="col-12">
                    <div class="bg-transparent iq-card ">
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-center bg-transparent">
                                    <ol class="breadcrumb bg-transparent mb-0 mt-1">
                                        <li class="breadcrumb-item text-initial">
                                            <a asp-controller="Home" asp-action="index" class="router-link-active home" target="_self">
                                                <i class="fas fa-home"></i>Home
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item text-white active">
                                            <span aria-current="location"> About </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="mb-4 pt-4 text-initial container">
        <span class="font-size-16">
            <span>
                <span class="title-colored-part">Our </span>
            </span>
            <span>
                <span class="title-mode-part">Story</span>
            </span>
        </span>
        <div class="row justify-content-between mt-3">
            <div class="col-lg-7 story">
                <p class=" text-initial">
                    Curva is an Egyptian sportswear brand providing a variety of products available in a wide price range.

                    Our story began in 2014, when we started as a small shop in Nasr City, founded by Yousri Sharaf, providing printing services for different clothes in a small apartment. As time passed, we expanded and opened our first shop in the same area in 2016, when we started providing sportswear products to our customers, alongside jerseys for the Egypt's and the world's most popular teams. Later the same year, we started providing delivery service for our customers living in all parts of Egypt.

                    In March 2018, we opened our first branch outside Cairo, located in Sidi Bishr in Alexandria. Three years later, we opened a branch in Tanta, Gharbia. In late 2022, we opened our 10th branch, located in Mansoura, Dakhalia, to expand the location of our branches to five governorates. Our latest branch was opened in Matarya, Cairo, in January 2023.

                    Our website was launched in early 2020, to make it easier for our customers to reach us. In 2022, we completely rebranded our website to a modern and better-looking design to ensure a better experience for our customers.

                    From 2014 until 2023, we turned from a small printing shop to one of Egypt's most known sportswear brands, and that couldn't have been achieved without God's willing, our hard work, and our customers trust.

                    Curva - Make it real
                </p>
            </div>
            <div class="col-lg-4 col-10">
                <div class="our-story-img d-flex align-items-center justify-content-center">
                    <img src="~/images/our-story.7d98795c.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="iq-style1">
    <div class="achievements-section position-relative pt-5 pb-3 container">
        <div class="row mb-5 d-flex justify-content-around">
            <div class="mb-5 d-flex justify-content-center col-md-6 col-lg-2 col-6">
                <div class="frame-about position-relative d-flex justify-content-center align-items-center mb-0">
                    <img src="~/images/ellipse.8de0993b.png" class="shape">
                    <img src="~/images/years.f1afad53.png" class="front-image-about exp-image">
                    <span class="achievement-stats text-center">
                        <p class="achievement-stats-text">+10</p>
                    </span>
                    <span class="achievement-title d-flex justify-content-center align-items-center">
                        <p class="text-warning text-center">Years of Experience</p>
                    </span>
                </div>
            </div>
            <div class="mb-5 d-flex justify-content-center col-md-6 col-lg-2 col-6">
                <div class="frame-about position-relative d-flex justify-content-center align-items-center mb-0">
                    <img src="~/images/ellipse.8de0993b.png" class="shape">
                    <img src="~/images/download (7).png" class="front-image-about product-image">
                    <span class="achievement-stats text-center">
                        <p class="achievement-stats-text">+3K</p>
                    </span>
                    <span class="achievement-title d-flex justify-content-center align-items-center">
                        <p class="text-warning">Products</p>
                    </span>
                </div>
            </div>
            <div class="mb-5 d-flex justify-content-center col-md-6 col-lg-2 col-6">
                <div class="frame-about position-relative d-flex justify-content-center align-items-center mb-0">
                    <img src="~/images/ellipse.8de0993b.png" class="shape">
                    <img src="~/images/download (8).png" class="front-image-about branch-image">
                    <span class="achievement-stats text-center">
                        <p class="achievement-stats-text">19</p>
                    </span>
                    <span class="achievement-title text-center">
                        <p class="text-warning">Branches</p>
                    </span>
                </div>
            </div>
            <div class="mb-5 d-flex justify-content-center col-md-6 col-lg-2 col-6">
                <div class="frame-about position-relative d-flex justify-content-center align-items-center mb-0">
                    <img src="~/images/ellipse.8de0993b.png" class="shape">
                    <img src="~/images/download (9).png" class="front-image-about clients-image">
                    <span class="achievement-stats text-center">
                        <p class="achievement-stats-text">+109K</p>
                    </span>
                    <span class="achievement-title d-flex justify-content-center align-items-center">
                        <p class="text-warning text-center">Happy Customers</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>