@{
    Layout = "_CurvaStoreLayout";
	
}
@model ChangePasswordAndMassage
<div class="cover_header_page">
    <div class="overlay-cover-page d-flex align-items-end">
        <div class="container de">
            <div class="row">
                <div class="col-12">
                    <div class="bg-transparent iq-card ">
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-center bg-transparent">
                                    <ol class="breadcrumb bg-transparent mb-0 mt-1">
                                        <li class="breadcrumb-item text-initial">
                                            <a asp-controller="Home" asp-action="Index" class="router-link-active home" target="_self">
                                                <i class="fas fa-home"></i>Home
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item text-white">
                                            <a asp-controller="Home" asp-action="Profile" class="router-link-active blogs" target="_self"> Profile </a>
                                        </li>
                                        <li class="breadcrumb-item text-white active">
                                            <span aria-current="location"> Change Password </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row p-4">
            <div class="d-flex justify-content-start col-lg-4 col-12">
                <span class="fs-6">
                    <span>
                        <span class="title-colored-part">Profile</span>
                    </span>
                    <span>
                        <span class="title-mode-part">Info</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <ul class="list-profile">
                    <li><a asp-controller="Home" asp-action="Profile"><i class="far fa-user"></i>  Profile Info</a></li>
                    <li><a asp-controller="Home" asp-action="ViewWishList"><i class="far fa-heart"></i> Wishlist</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
                <form method="post" style="background-color: #e5e6ea;" class="p-5 mb-5" >
                    <div class="row justify-content-center">
                        <div class="col-lg-6 pt-3">
                            <div class="row">
                                <div class="mb-4 col-lg-12">
                                    <input autocomplete="off" id="" type="password" asp-for="changePassword.currpassword" placeholder="Current Password" class="form-control">
                                    <span asp-validation-for="changePassword.currpassword" class="text-danger">@Model.massage</span>
                                </div>
                                <div class="mb-4 col-lg-12">
                                    <input autocomplete="off" type="password" asp-for="changePassword.newpassword" placeholder="New Password" class="form-control">
                                    <span asp-validation-for="changePassword.newpassword" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-lg-12">
                                    <input autocomplete="off" type="password" asp-for="changePassword.confirmnewpassword" placeholder="Confirm Password" class="form-control">
                                    <span asp-validation-for="changePassword.confirmnewpassword" class="text-danger"></span>
                                </div>
                                <div class="text-center col-lg-12">
                                    <a asp-controller="Home" asp-action="Profile"><button type="button" class="btn grey-btn small-rounded-btn mx-3 btn-secondary">Discard</button></a>
                                    <button type="submit" style="background-color: #d1ab5f; color: #000000;" class="btn curva-granola-btn small-rounded-btn">
                                        <span class="fs-6">Save Changes</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>