@model Blog
@{
    Layout = "_CurvaStoreLayout";
}
<div class="cover_header_page">
    <div class="overlay-cover-page d-flex align-items-end">
        <div class="container de">
            <div class="row">
                <div class="col-12">
                    <div class="bg-transparent iq-card ">
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-center bg-transparent">
                                    <ol class="breadcrumb bg-transparent mb-0 mt-1">
                                        <li class="breadcrumb-item text-initial">
                                            <a asp-controller="Home" asp-action="index" class="router-link-active home" target="_self">
                                                <i class="fas fa-home"></i>Home
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item text-white">
                                            <a asp-controller="Home" asp-action="Blogs" class="router-link-active blogs" target="_self"> Blogs </a>
                                        </li>
                                        <li class="breadcrumb-item text-white active">
                                            <span aria-current="location"> Blogs Details </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container pt-3 mb-5">
        <div class="row mb-5">
            <div class="d-flex justify-content-between col">
                <span class="font-size-16">
                    <span>
                        <span class="title-colored-part">Blog </span>
                    </span>
                    <span>
                        <span class="title-mode-part">Details</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="details-container blog bg-transparent iq-card ">
                    <div class="row">
                        <div class="col-lg-5 col-12 text-center">
                            <img class=" w-100 mb-3" src="~/images/@Model.Img" alt="Card image">
                        </div>
                        <div class="col-12 col-lg-7 mb-4">
                            <p style="color: rgba(128, 128, 128, 0.591);font-size: 15px;" class="mb-4">Posted on @Model.dateTime.ToString("yyyy-MM-dd HH:mm tt")</p>
                            <h4 class=" text-warning mb-4" style="font-weight: normal; text-align: right;"> @Model.Tittle</h4>
                            <p style="text-align: right;">
                                @Model.Description
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>