@page
@model LoginModel
<div class="cover_header_page">
    <div class="overlay-cover-page d-flex align-items-end">
        <div class="container de">
            <div class="row">
                <div class="col-12">
                    <div class="bg-transparent iq-card ">
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-center bg-transparent">
                                    <ol class="breadcrumb bg-transparent mb-0 mt-1">
                                        <li class="breadcrumb-item text-initial">
                                            <a asp-controller="Home" asp-action="index" class="router-link-active home" target="_self">
                                                <i class="fas fa-home"></i>Home
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item text-white active">
                                            <span > Login </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="p-4 mt-5 login">
                    <div class="d-flex justify-content-center">
                        <span class="fs-6 mb-2">
                            <span>
                                <span class="title-mode-part">Login</span>
                            </span>
                        </span>
                    </div>
                    <div class="row justify-content-center d-flex">
                        <div class="col-lg-9 col-11">
                            <form class="mb-4" method="post">
                                <div class="row">
                                    <div class="mb-4 col-lg-12">
                                        <input autocomplete="off"  type="text" asp-for="Input.Email"  placeholder="Email Address" class="form-control">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="mb-4 col-lg-12">
                                        <input autocomplete="off" type="password" asp-for="Input.Password" placeholder="password" class="form-control">
                                        <span class="text-danger">@Model.ErrorMessage</span>
                                    </div>
                                    <div class="mb-3 col-lg-12">
                                        <button type="submit" id="login-submit" style="background-color: #d1ab5f;border-color: #d1ab5f;" class="log-btn btn w-100">
                                            <span class="fs-6">Login</span>
                                        </button>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-initial">
                                            <span class="text-secondary me-2">Don’t have an account ?</span>
                                            <a asp-area="Identity" asp-page="/Account/Register">
                                                <span style="color: #d1ab5f;">Create Account</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
